.row1 {
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.row2 {
  margin: 10px;
}

.image {
  margin-top: 20px;
  margin-bottom: 0;
}

.bg {
  background-color: azure;
}

@media only screen and (min-height: 100vh) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}
