
.form {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.formbg {
  background: linear-gradient(to right, #05c3e5, #0470a7);
}

body {
  background-image: linear-gradient(to right, #05c3e5, #0470a7);
  height: 100vh;
}
.button1{
  margin-bottom: 10;
}